         <div id="event_template">
           <div class="entity-field"><span class="entity-fieldlabel">Start date</span> <span class="entity-fieldvalue"><%%= entity.event_date_start %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Start time</span> <span class="entity-fieldvalue"><%%= entity.event_time_start %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">End date</span> <span class="entity-fieldvalue"><%%= entity.event_date_end %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">End time</span> <span class="entity-fieldvalue"><%%= entity.event_time_end %></span> </div>
         </div>
