        <div id="event_form">
          <div class="formrow">
        	 <label for="event_date_start" class="fieldtitle">Start date/time</label> 
		     <input type="text" name="event_date_start" id="event_date_start" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.event_date_start %>" <%% } %>/>
          </div>
          <div class="formrow">
        	 <label for="event_date_end" class="fieldtitle">End date/time</label> 
		     <input type="text" name="event_date_end" id="event_date_end" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.event_date_end %>" <%% } %>/>
          </div>
        </div>                
